#body {
    min-height: 90vh;
    background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX9946396.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    color: #7a90a9;
  }
  .container {
    width: 60%;
    height: 450px;
    background-color: #ceb88aee;
    border: 1px solid transparent;
    opacity: 0.9;
    border-radius: 7px;
  }
  .totale {
    border-bottom: 1px solid #d2d4d6;
  }
  .totale p {
    margin-left: 30px;
    font-size: 18px;
    color: #4a4b4c;
  }
  
  img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
  }
  .fas {
    color: #393e42 ;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 50px;
    margin-top: 15px;
    border-bottom: 1px solid #d2d4d6;
  }
  
  .lastrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 50px;
    margin-top: 15px;
  }
  span {
    color: #4c4a4a;
  }
  .product {
  
      color: black;
  }
  .price {
    color: black;
  }
  .qte{
      color: rgb(12, 12, 12);   
  }
  .fa-heart {
    color: grey;
  }
  
  .red {
    color: red;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: gray;
    position: fixed;
    height: 80%;
    overflow: auto;
    font-family: fantasy;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #045faa;
    color: rgb(190, 71, 71);
  }
  
  li a:hover:not(.active) {
    background-color: rgb(85, 85, 85);
    color: rgb(196, 103, 103);
  }